**/bundle
**/coverage
**/dist
**/.git
**/node_modules
.docker
.DS_Store
.env
.idea
*.iml
*.tsbuildinfo
*.vsix
bower_components
eslint.config.js
**/generated
junit.xml
Thumbs.db
pnpm-lock.yaml
pnpm-workspace.yaml
apps/dashboard/src/routeTree.gen.ts
apps/client/src/routeTree.gen.ts
packages/daemon/pkg/toolbox/docs
packages/client-daemon-ts/src
packages/client-daemon-go
docs/opencode/api-docs.json
docs/opencode/overview.md
.x/**
AGENTS.md
skills/**