[Desktop Entry]
Version=1.0
Type=Application
Name=Deck Chrome Launcher Fix
Comment=Ensure trusted metadata for desktop launcher
Exec=/usr/local/bin/deck-fix-chrome-launcher
Terminal=false
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
X-XFCE-Autostart-enabled=true
