PILOT_WORKSPACE=/path/to/deck
PILOT_OPENCODE_DIRECTORY=/path/to/deck
PILOT_OPENCODE_URL=http://127.0.0.1:4096
PILOT_OPENCODE_AUTH=false
OPENCODE_SERVER_USERNAME=
OPENCODE_SERVER_PASSWORD=
PILOT_PORT=8787
BRIDGE_HEALTH_PORT=3005
PILOT_TOKEN=CHANGE_ME
PILOT_HOST_TOKEN=CHANGE_ME
PILOT_APPROVAL_MODE=auto
